# Titanic - Machine Learning from Disaster
## Baseado no conteudo da Hashtag treinamentos

In [1]:
#import pandas
import pandas as pd

In [2]:
#Criando e visualizando a base de treino
treino = pd.read_csv('datasets/train.csv')
treino.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [138]:
#importando o ProfileReport da ydata-profiling
from ydata_profiling import ProfileReport

In [140]:
profile = ProfileReport(treino, title="titanic_treino")

In [141]:
profile.to_file("titanic_treino.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [13]:
#Verificando as informações da base de treino
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
#Verificando o tipo de dado
treino.dtypes.value_counts()

int64      5
object     5
float64    2
Name: count, dtype: int64

In [6]:
#Valores nulos na base
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

In [8]:
#Teste
#Criando e visualizando a base de teste
teste = pd.read_csv('datasets/test.csv')

In [9]:
#Verificando as informações da base
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [14]:
#Valores nulos na base
teste.isnull().sum().sort_values(ascending=False).head(5)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
dtype: int64

In [15]:
#Verificando a cardinalidade dos dados
##A cardinalidade define valores que variam muito e não ajudam no modelo para generalização. Podemos descartar essas informaçõs na nossa analise.
treino.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

In [16]:
#Verificando a cardinalidade dos dados
teste.nunique().sort_values(ascending=False)

PassengerId    418
Name           418
Ticket         363
Fare           169
Age             79
Cabin           76
Parch            8
SibSp            7
Pclass           3
Embarked         3
Sex              2
dtype: int64

In [19]:
#Tratamento das colunas com alta cardinalidade
treino = treino.drop(['Name','Ticket','Cabin'], axis=1)
teste = teste.drop(['Name','Ticket','Cabin'], axis=1)

In [20]:
teste.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [22]:
#Tratando os valores nulos nas colunas 
#verificando a média das idades para a base de treino
treino.Age.mean()

29.69911764705882

In [23]:
#verificando a média das idades para a base de teste
teste.Age.mean()

30.272590361445783

In [25]:
#substituindo os valores vazios na coluna de idade
treino.loc[treino.Age.isnull(),'Age'] = treino.Age.mean()

In [26]:
#substituindo os valores vazios na coluna de idade
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()

In [35]:
#Verificando os valores da coluna Embarkes
treino.Embarked.value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [42]:
#tratando os espaços vazios na coluna Embarked (Usando a moda)
treino.loc[treino.Embarked.isnull(), 'Embarked'] = treino.Embarked.mode()[0]

In [43]:
#Verificando os valores da coluna Embarkes
treino.Embarked.value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [44]:
#tratando os espaços vazios na coluna Embarked (Usando a moda)
teste.loc[teste.Embarked.isnull(), 'Embarked'] = teste.Embarked.mode()[0]

In [47]:
#Tratando a media da coluna Fare para a base teste
teste.loc[teste.Fare.isnull(), 'Fare'] = teste.Fare.mean()

In [48]:
#Tratando a media da coluna Fare para a base treino
treino.loc[treino.Fare.isnull(), 'Fare'] = treino.Fare.mean()

In [49]:
#Verificando teste
treino.isnull().sum().sort_values(ascending=False).head

<bound method NDFrame.head of PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64>

In [50]:
#Verificando treino
teste.isnull().sum().sort_values(ascending=False).head

<bound method NDFrame.head of PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64>

In [56]:
#Verificando as colunas de texto na ase de treino
col_treino_nr = treino.columns[treino.dtypes != 'object']
col_treino_nr

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [57]:
#Selecionando apenas os valores numericos da base de treino
treino_nr = treino.loc[:,col_treino_nr]

In [59]:
#Verificando as colunas de texto na base de teste
col_teste_nr = teste.columns[teste.dtypes != 'object']

In [60]:
#Selecionando apenas os valores numericos da base de teste
teste_nr = teste.loc[:,col_teste_nr]

## Treinando o modelo

In [74]:
#Importando o train_test_split
from sklearn.model_selection import train_test_split

In [75]:
#Separando a base de treino em X e y
X = treino_nr.drop(['PassengerId','Survived'], axis=1)
y = treino.Survived

In [76]:
#Separando em treino e validação
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

### Classificação

#### Para a arvore de classificação

In [77]:
#Fazendo a importação
from sklearn import tree

In [78]:
#criando o classificador
clf_ac = tree.DecisionTreeClassifier(random_state=42)

In [79]:
#fazendo o fit com os dados
cfl_ac = clf_ac.fit(X_train, y_train)

In [82]:
#Fazendo a previsão
y_pred_ac = clf_ac.predict(X_val)

#### KNN

In [83]:
#Fazendo a importação
from sklearn.neighbors import KNeighborsClassifier

In [85]:
#criando o classificador
clf_knn = KNeighborsClassifier(n_neighbors=3)

In [86]:
#fazendo o fit com os dados
cfl_knn = clf_knn.fit(X_train, y_train)

In [87]:
#Fazendo a previsão
y_pred_knn = clf_knn.predict(X_val)

#### Regressão Logística

In [95]:
#Fazendo a importação
from sklearn.linear_model import LogisticRegression

In [96]:
#criando o classificador
clf_rl = LogisticRegression(random_state=42)

In [97]:
#fazendo o fit com os dados
cfl_rl = clf_rl.fit(X_train, y_train)

In [98]:
#Fazendo a previsão
y_pred_cl = clf_rl.predict(X_val)

### Avaliando os modelos

### Acuracia

In [100]:
# Importando
from sklearn.metrics import accuracy_score

In [101]:
#Para a árvore
accuracy_score(y_val, y_pred_ac)

0.6169491525423729

In [102]:
#Para o KNN
accuracy_score(y_val, y_pred_knn)

0.6610169491525424

In [103]:
#Para a regressão logística
accuracy_score(y_val, y_pred_cl)

0.7254237288135593

### Matriz de confusão

In [104]:
from sklearn.metrics import confusion_matrix

In [105]:
#Para a árvore
confusion_matrix(y_val, y_pred_ac)

array([[125,  50],
       [ 63,  57]])

In [106]:
#Para o KNN
confusion_matrix(y_val, y_pred_knn)

array([[133,  42],
       [ 58,  62]])

In [107]:
#Para a regressão logística
confusion_matrix(y_val, y_pred_cl)

array([[156,  19],
       [ 62,  58]])

### Fazendo a previsão para os dados de teste

In [108]:
#Visaualizando o X_train
X_train.head()

     Pclass        Age  SibSp  Parch     Fare
6         1  54.000000      0      0  51.8625
718       3  29.699118      0      0  15.5000
685       2  25.000000      1      2  41.5792
73        3  26.000000      1      0  14.4542
882       3  22.000000      0      0  10.5167

In [109]:
#Visualizando a base de teste
teste_nr.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0          892       3  34.5      0      0   7.8292
1          893       3  47.0      1      0   7.0000
2          894       2  62.0      0      0   9.6875
3          895       3  27.0      0      0   8.6625
4          896       3  22.0      1      1  12.2875

In [121]:
#Eliminando a coluna Passengerid para deixar as duas bases identicas
X_teste = teste_nr.drop('PassengerId',axis=1)

In [123]:
#Utilizando a regressão logistica na base de teste
y_pred = clf_rl.predict(X_teste)

In [125]:
#Criando uma nova coluna com previsão na base de teste
teste['Survived'] = y_pred

In [127]:
#Selecionando apenas a coluna Id e survived para fazer o envio
base_envio = teste[['PassengerId','Survived']]

In [129]:
#exportando para csv
base_envio.to_csv('resultados.csv', index=False)