# Titanic 2

In [15]:
import pandas as pd

In [16]:
treino = pd.read_csv('datasets/train.csv')
teste = pd.read_csv('datasets/test.csv')

In [17]:
treino.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
428,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.0,0,1,371362,16.1000,NaN,S
602,603,0,1,"Harrington, Mr. Charles H",male,NaN,0,0,113796,42.4000,NaN,S

In [18]:
teste.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [19]:
print(f'Dimensões de treino {treino.shape}')
print(f'Dimensões de teste {teste.shape}')

Dimensões de treino (891, 12)
Dimensões de teste (418, 11)

### Tratamento inicial

In [22]:
#Procurando valores ausentes das colunas
print(f'Valores ausentes {treino.isnull().sum().sort_values(ascending=False)}')
print(f'Valores ausentes {treino.isnull().sum().sort_values(ascending=False)}')

Valores ausentes Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64
Valores ausentes Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

In [23]:
#Analisando a cardinalidade das colunas
print(f'Cardinalidade de treino {treino.nunique().sort_values(ascending=False)}')
print(f'Cardinalidade de teste {treino.nunique().sort_values(ascending=False)}')

Cardinalidade de treino PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64
Cardinalidade de teste PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

In [26]:
#Eliminando as colunas com alta cardinalidade
treino = treino.drop(['Name','Ticket','Cabin'], axis=1)
teste = teste.drop(['Name','Ticket','Cabin'], axis=1)

In [28]:
#Usando a media para subistiruir valores nulos na coluna Age
treino.loc[treino.Age.isnull(), 'Age'] = treino.Age.mean()
teste.loc[teste.Age.isnull(), 'Age'] = teste.Age.mean()

In [30]:
#Usando a moda para subistiruir valores nulos na coluna Embarked
treino.loc[treino.Embarked.isnull(), 'Embarked'] = treino.Embarked.mode()[0]
teste.loc[teste.Embarked.isnull(), 'Embarked'] = teste.Embarked.mode()[0]

In [32]:
#Usando a media para subistiruir valores nulos na coluna Fare
treino.loc[treino.Fare.isnull(), 'Fare'] = treino.Fare.mean()
teste.loc[teste.Fare.isnull(), 'Fare'] = teste.Fare.mean()

### Tratando as colunas de texto

In [49]:
#Verifivando as coluna de texto 
print('Treino:\n',treino.columns[treino.dtypes == 'object'])
print('Teste:\n',teste.columns[teste.dtypes == 'object'])

Treino:
 Index(['Sex', 'Embarked'], dtype='object')
======================
Teste:
 Index(['Sex', 'Embarked'], dtype='object')

In [57]:
#Contantdo os valores na coluna Sex
print(f'Contando os valores de Sex em treino:\n{treino.Sex.value_counts()}')
print(f'Contando os valores em Sex em teste:\n{teste.Sex.value_counts()}')

Contando os valores de Sex em treino:
male      577
female    314
Name: Sex, dtype: int64
Contando os valores em Sex em teste:
male      266
female    152
Name: Sex, dtype: int64

In [60]:
#Verificando os valores na coluna Embarked
print(f'Contando os valores de Embarked em treino:\n{treino.Embarked.value_counts()}')
print(f'Contando os valores de Embarked em treino:\n{treino.Embarked.value_counts()}')

Contando os valores de Embarked em treino:
S    646
C    168
Q     77
Name: Embarked, dtype: int64
Contando os valores de Embarked em treino:
S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [67]:
#Tratando os dados da coluna Sex: 1 para Male 0: para Female
treino['MaleCheck'] = treino.Sex.apply(lambda x: 1 if x == 'male' else 0)
teste['MaleCheck'] = teste.Sex.apply(lambda x: 1 if x == 'male' else 0)

In [68]:
treino.sample(5)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,MaleCheck
119,120,0,3,female,2.000000,4,2,31.275,S,0
481,482,0,2,male,29.699118,0,0,0.000,S,1
297,298,0,1,female,2.000000,1,2,151.550,S,0
536,537,0,1,male,45.000000,0,0,26.550,S,1
188,189,0,3,male,40.000000,1,1,15.500,Q,1

In [69]:
#Verificando os valores em treino
treino[['Sex','MaleCheck']].value_counts()

Sex     MaleCheck
male    1            577
female  0            314
dtype: int64

In [70]:
#Verificando os valores teste
teste[['Sex','MaleCheck']].value_counts()

Sex     MaleCheck
male    1            266
female  0            152
dtype: int64

#### Utilizando o OneHotEncoder par criar uma coluna badeada nos rótulos da coluna original
[OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [73]:
#Importanto o OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [74]:
#Criando o encoder
ohe = OneHotEncoder(handle_unknown='ignore')

In [75]:
#Fazendo o fit com os dados: 
ohe = ohe.fit(treino[['Embarked']])

In [76]:
#fazendo a transformação
ohe.transform(treino[['Embarked']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [80]:
#Transformando os resultados em um dataframe
ohe_df = pd.DataFrame(ohe.transform(treino[['Embarked']]).toarray(), columns=ohe.get_feature_names_out())

In [83]:
#Adiciononando essa coluna a base de dados 
ohe_df.sample(10)

     Embarked_C  Embarked_Q  Embarked_S
488         0.0         0.0         1.0
733         0.0         0.0         1.0
448         1.0         0.0         0.0
122         1.0         0.0         0.0
411         0.0         1.0         0.0
734         0.0         0.0         1.0
857         0.0         0.0         1.0
709         1.0         0.0         0.0
204         0.0         0.0         1.0
162         0.0         0.0         1.0

In [84]:
#Adicionando a coluna a base de treino
treino = pd.concat([treino,ohe_df], axis=1)

In [90]:
#Verificando os valores
#treino.columns
treino[['Embarked', 'Embarked_C', 'Embarked_Q', 'Embarked_S']].value_counts()

Embarked  Embarked_C  Embarked_Q  Embarked_S
S         0.0         0.0         1.0           646
C         1.0         0.0         0.0           168
Q         0.0         1.0         0.0            77
dtype: int64

In [91]:
#Para a base de teste,não precisa fazer o fit na base de teste. Apenas na base de treino
ohe_df = pd.DataFrame(ohe.transform(teste[['Embarked']]).toarray(), columns=ohe.get_feature_names_out())

In [92]:
#Adicionando a coluna a base de treino
teste = pd.concat([teste,ohe_df], axis=1)

In [93]:
#Verificando os valores
#treino.columns
teste[['Embarked', 'Embarked_C', 'Embarked_Q', 'Embarked_S']].value_counts()

Embarked  Embarked_C  Embarked_Q  Embarked_S
S         0.0         0.0         1.0           270
C         1.0         0.0         0.0           102
Q         0.0         1.0         0.0            46
dtype: int64

### Usando a nova base no modelo

In [102]:
#Retirando as colunas object e trabalhano apenas com os valores tratados
#treino = treino.drop(['Sex','Embarked'], axis=1)
#teste = teste.drop(['Sex','Embarked'], axis=1)

In [103]:
treino.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,MaleCheck,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,1,0.0,0.0,1.0
1,2,1,1,38.0,1,0,71.2833,0,1.0,0.0,0.0
2,3,1,3,26.0,0,0,7.9250,0,0.0,0.0,1.0
3,4,1,1,35.0,1,0,53.1000,0,0.0,0.0,1.0
4,5,0,3,35.0,0,0,8.0500,1,0.0,0.0,1.0

In [104]:
teste.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,MaleCheck,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,1,0.0,1.0,0.0
1,893,3,47.0,1,0,7.0000,0,0.0,0.0,1.0
2,894,2,62.0,0,0,9.6875,1,0.0,1.0,0.0
3,895,3,27.0,0,0,8.6625,1,0.0,0.0,1.0
4,896,3,22.0,1,1,12.2875,0,0.0,0.0,1.0

## Treinando o modelo

In [105]:
#Importando o train_test_split
from sklearn.model_selection import train_test_split

In [107]:
#Separando a base de treino em X e y
X = treino.drop(['PassengerId','Survived'], axis=1)
y = treino.Survived

In [108]:
#Separando em treino e validação
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

### Classificação

#### Para a arvore de classificação

In [109]:
#Fazendo a importação
from sklearn import tree

In [110]:
#criando o classificador
clf_ac = tree.DecisionTreeClassifier(random_state=42)

In [111]:
#fazendo o fit com os dados
cfl_ac = clf_ac.fit(X_train, y_train)

In [112]:
#Fazendo a previsão
y_pred_ac = clf_ac.predict(X_val)

#### KNN

#### Regressão Logística

In [113]:
#Fazendo a importação
from sklearn.neighbors import KNeighborsClassifier

In [114]:
#criando o classificador
clf_knn = KNeighborsClassifier(n_neighbors=3)

In [115]:
#fazendo o fit com os dados
cfl_knn = clf_knn.fit(X_train, y_train)

In [116]:
#Fazendo a previsão
y_pred_knn = clf_knn.predict(X_val)

#### Regressão Logística

In [123]:
#Fazendo a importação
from sklearn.linear_model import LogisticRegression

In [124]:
#criando o classificador
clf_rl = LogisticRegression(random_state=42)

In [125]:
#fazendo o fit com os dados
cfl_rl = clf_rl.fit(X_train, y_train)

/home/wferreira/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [126]:
#Fazendo a previsão
y_pred_cl = clf_rl.predict(X_val)

### Avaliando os modelos

### Acuracia

In [127]:
# Importando
from sklearn.metrics import accuracy_score

In [128]:
#Para a árvore
accuracy_score(y_val, y_pred_ac)

0.7491525423728813

In [129]:
#Para o KNN
accuracy_score(y_val, y_pred_knn)

0.7152542372881356

In [130]:
#Para a regressão logística
accuracy_score(y_val, y_pred_cl)

0.8135593220338984

### Matriz de confusão

In [131]:
from sklearn.metrics import confusion_matrix

In [132]:
#Para a árvore
confusion_matrix(y_val, y_pred_ac)

array([[138,  37],
       [ 37,  83]])

In [133]:
#Para o KNN
confusion_matrix(y_val, y_pred_knn)

array([[147,  28],
       [ 56,  64]])

In [134]:
#Para a regressão logística
confusion_matrix(y_val, y_pred_cl)

array([[152,  23],
       [ 32,  88]])

### Fazendo a previsão para os dados de teste

In [150]:
#Visaualizando o X_train
X_train.head()

,Pclass,Age,SibSp,Parch,Fare,MaleCheck,Embarked_C,Embarked_Q,Embarked_S
6,1,54.000000,0,0,51.8625,1,0.0,0.0,1.0
718,3,29.699118,0,0,15.5000,1,0.0,1.0,0.0
685,2,25.000000,1,2,41.5792,1,1.0,0.0,0.0
73,3,26.000000,1,0,14.4542,1,1.0,0.0,0.0
882,3,22.000000,0,0,10.5167,0,0.0,0.0,1.0

In [151]:
#Visualizando a base de teste
teste.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,MaleCheck,Embarked_C,Embarked_Q,Embarked_S,Survived
0,892,3,34.5,0,0,7.8292,1,0.0,1.0,0.0,0
1,893,3,47.0,1,0,7.0000,0,0.0,0.0,1.0,0
2,894,2,62.0,0,0,9.6875,1,0.0,1.0,0.0,0
3,895,3,27.0,0,0,8.6625,1,0.0,0.0,1.0,0
4,896,3,22.0,1,1,12.2875,0,0.0,0.0,1.0,1

In [152]:
#Eliminando a coluna Passengerid para deixar as duas bases identicas
X_teste = teste.drop('PassengerId',axis=1)

In [154]:
#Utilizando a regressão logistica na base de teste
y_pred = clf_rl.predict(X_teste)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Survived

In [155]:
#Criando uma nova coluna com previsão na base de teste
teste['Survived'] = y_pred

In [156]:
#Selecionando apenas a coluna Id e survived para fazer o envio
base_envio = teste[['PassengerId','Survived']]

In [157]:
#exportando para csv
base_envio.to_csv('resultados.csv', index=False)